<h2>Rating input</h2>

<form #f (ngSubmit)="onSubmit(f)" novalidate >
  Rating 1: <rating-input #r1="ngModel" [(ngModel)]="model.r1" name="r1"></rating-input>
  <br/>
  Rating 2: <rating-input #r2="ngModel" [(ngModel)]="model.r2"name="r2"></rating-input>
  <br/>
  <input #n  [(ngModel)]="model.nome" required name="nome">
  <br/>
  <button>Submit</button>
</form>

<p>Rating 1: {{ r1.value }}</p>
<p>Rating 2: {{ r2.value }}</p>
<p>Nome    : {{ n.value }}</p>

<p>Form value: {{ f.value | json }}</p>
<p>Form valid: {{ f.valid }}</p>

<h2>Info</h2>

https://alligator.io/angular/custom-form-control/

